<ion-header>
  <ion-toolbar [color]="'primary'">
    <ion-buttons slot="start">
      <ion-button [fill]="'clear'" (click)="goToHome()">
        <ion-icon slot="icon-only" [name]="'home'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Frächter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card style="height: 20vh; margin: 3vh auto; width: 60%;" *ngFor="let freighter of freightersData">
    <ion-item [lines]="noLines" style="height: 20vh;" (click)="clicked(freighter.id)">
      <div slot="start" class="logo-img" [ngStyle]="freighter.img">
      </div>
      <div style="position:absolute; left: 35%; right: 20%; top: 0; bottom: 0; height: 16vh; margin-top: 2vh;">
        <ion-grid style="width: 100%; height: 100%;">
          <ion-row style="height: 6vh;">
            <ion-col>
              <div style="font-size: 24px;">{{freighter.name}}</div>
            </ion-col>
          </ion-row>
          <ion-row style="height: 5vh;">
            <ion-col>
              <div style="font-size: 18px;">{{freighter.location}}</div>
            </ion-col>
          </ion-row>
          <ion-row style="height: 5vh;">
            <ion-col size="1" *ngFor="let star of freighter.stars">
              <ion-icon [name]="star" [color]="'secondary'" style="font-size: 28px;"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div style="position:absolute; right: 0; width: 20%; top: 6vh; bottom: 6vh;">
        <ion-icon [name]="freighter.type" [size]="'large'" [color]="'secondary'" style="height:100%; width: 100%;"></ion-icon>
      </div>
    </ion-item>
  </ion-card>
</ion-content>
