<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [fill]="'clear'" (click)="goToHome()">
        <ion-icon slot="icon-only" [name]="'home'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Frächter Finden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Dienstleistungstyp</ion-label>
    <ion-select [(ngModel)]="typeModel">
      <ion-select-option [value]="typeSelectTransportVal">Transport</ion-select-option>
      <ion-select-option [value]="typeSelectKranVal">Kran</ion-select-option>
      <ion-select-option [value]="typeSelectInstanthaltungVal">Instandhaltung</ion-select-option>
    </ion-select>
  </ion-item>
  <app-transport *ngIf="typeModel === typeSelectTransportVal"></app-transport>
  <app-repair *ngIf="typeModel === typeSelectInstanthaltungVal"></app-repair>
  <app-crane *ngIf="typeModel === typeSelectKranVal"></app-crane>
</ion-content>

<ion-footer>
  <ion-button [fill]="searchBtnFill" [expand]="searchBtnExpand" [size]="searchBtnSize" (click)="send()" style="width: 90%; margin: 15px auto;">Suchen</ion-button>
</ion-footer>
