<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [fill]="'clear'" (click)="goToHome()">
        <ion-icon slot="icon-only" [name]="'home'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{freighterName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [fill]="'clear'" [href]="'http://127.0.0.1:8000/freighter/edit/' + id">
        <ion-icon slot="icon-only" [name]="'create'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid style="width: 60%;">
    <ion-row>
      <ion-col size="6">
        <img [src]="logo" style="max-height: 20vh;">
      </ion-col>
      <ion-col size="6">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input [(ngModel)]="freighterName" [disabled]="!editing" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input [(ngModel)]="freighterAdress" [disabled]="!editing" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <br/>
    <br/>
    <ion-row>
      <ion-col [size]="4">
        <ion-item>
          <ion-label>Transport Typ</ion-label>
        </ion-item>
      </ion-col>
      <ion-col *ngFor="let type of transportType" [size]="1">
        <ion-button [fill]="iconBtnFill" (click)="type.switch(type.id)">
          <ion-icon slot="icon-only" [name]="type.iconName" [color]="type.iconColor"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <br/>
    <br/>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Fuhrpark</ion-label>
          <ion-button slot="end" [fill]="iconBtnFill" [href]="vehicleBaseUrl + '/add'" [color]="btnColor">
            <ion-icon slot="icon-only" [name]="'add'"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let vehicle of vehicles">
            <ion-label>{{vehicle.name}}</ion-label>
            <ion-button slot="end" [fill]="iconBtnFill" [href]="vehicleBaseUrl + '/edit/' + vehicle.id" [color]="btnColor">
              <ion-icon slot="icon-only" [name]="'create'"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
