// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

:root {

  --ion-color-primary: #417690;
  --ion-color-primary-rgb: 65,118,144;
  --ion-color-primary-contrast: #e3d489;
  --ion-color-primary-contrast-rgb: 227,212,137;
  --ion-color-primary-shade: #005a00;
  --ion-color-primary-tint: #1a751a;

  --ion-color-secondary: #79aec8;
  --ion-color-secondary-rgb: 121,174, 200;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #005a00;
  --ion-color-secondary-tint: #1a751a;

  --ion-color-tertiary: #79aec8;
  --ion-color-tertiary-rgb: 65,118,144;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #005a00;
  --ion-color-tertiary-tint: #1a751a;
}

