.btn-card-title {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin: auto;
}

.btn-card-outer {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  height: 70%;
  width: 100%;
}